---
layout: default
title: Daniele Lodola | &Agrave; propos de Daniele Lodola - consultant en Growth Marketing
excerpt: Tout savoir sur Daniele Lodola
section_id: about
skills:
  - title: Web Design
    percent: 84
  - title: Web Development
    percent: 95
  - title: Site Management
    percent: 70
  - title: Branding
    percent: 61
    
testimonials:
  - text: "Daniele a travaillé sur Pipedrive, notre CRM. Sa grande expertise sur le sujet fut un réel atout pour nous. Il a pu interconnecter nos différentes applications avec une efficacité incroyable! Merci Dan."
    author: Fran&ccedil;ois Amad&eacute;i
    position: Fondateur et Directeur Général, Scoplan
    avatar: images/@stock/author-avatar-1.png
  - text: "Daniele a implémenté et déployé Netsuite avec succès dans notre contexte des sciences de la vie. Grâce à cela, nous avons pu améliorer la compréhension des besoins de nos clients et <i>in fine</i> nos relations client."
    author: Berthold Baldus
    position: PDG Cisbio
    avatar: images/@stock/author-avatar-2.png
  - text: "Daniele était un membre clef de notre équipe Relations Publiques à un moment clef de l'histoire de Jaguar. "
    author: Vittorio Senso
    position: Directeur Général, Jaguar Cars France
    avatar: images/@stock/author-avatar-3.png
---


<div class='full'>
  <div class='row'>
    <div class='large-4 columns'>
      <img src="{{site.url}}/images/daniele-lodola-profile-image.jpg">
    </div>
    <div class='large-8 columns'>
      <h4 style='color: #999'>Daniele Lodola</h4>
      <h2>&Agrave; propos de moi</h2>
      <div class='spacing'></div>
      <p>Hello, je suis Daniele! Je vis à Avignon et profite de la vie dans le sud de la France depuis près de 20 ans maintenant.</p>
      
      <p>Né en Angleterre dans famille anglo-italienne, j'ai grandi en France; je suis de ce fait <strong>parfaitement tri-lingue anglais, italien et français</strong>. Au delà de la maîtrise de ces trois langues, j'ai acquis une connaissance approfondie des cultures anglaise, française et italienne.</p>
      
      <p>Si je travaille depuis Avignon, mes clients sont <strong>européens</strong>. Beaucoup de mon travail se fait depuis mon point d'attache dans le Vaucluse, mais je n'hésite jamais à aller à la rencontre de mes clients - en France ou ailleurs - pour mieux m'immerger dans leurs business et comprendre leurs besoins.</p>
      
      <p>Avec près de 20 ans d'expériences dans le <strong>marketing</strong>, j'aide mes clients à définir et à mettre en oeuvre des <strong>stratégies marketing digitales tournées vers la croissance</strong>. Je prône une approche pragmatique du marketing où la recommendation stratégique ne perd jamais de vue la mise en oeuvre qui suit nécessairement.</p>
      
      <p><strong>C'est pour cela que j'accompagne aussi mes clients dans la réalisation concrète de mes recommendations!</strong></p>
      
      <ul class='socials'>
        <li>
          <a href='https://www.linkedin.com/in/{{site.linkedin_username}}/' target='_blank' rel='noreferrer'>
            <i class='fa fa-linkedin'></i>
          </a>
        </li>
        <li>
          <a href='https://www.facebook.com/{{site.facebook_username}}' target='_blank' rel='noreferrer'>
            <i class='fa fa-facebook'></i>
          </a>
        </li>
        <li>
          <a href='https://twitter.com/{{site.twitter_username}}' target='_blank' rel='noreferrer'>
            <i class='fa fa-twitter'></i>
          </a>
        </li>

        <li>
          <a href='https://github.com/{{site.github_username}}/' target='_blank' rel='noreferrer'>
            <i class='fa fa-github'></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class='three spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Savoir faire</h3>
      <div class='spacing'></div>
      <div class='mod modBarGraph'>
        <ul class='bars'>
          {% for skill in page.skills %}
            <li>
              <h4 style=''>
                {{skill.title}}
                <strong>{{skill.percent}}%</strong>
              </h4>
              <p class='highlighted' data-percent='{{skill.percent}}'></p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class='medium-6 columns'>
      <h3>T&eacute;moignages</h3>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{t.text}}</p>
                  <div class='author'>
                    <p class='author-avatar'>
                      <img alt="" src="{{t.avatar}}" />
                    </p>
                    <p class='author-name'>
                      -
                      <strong>
                        {{t.author}}
                      </strong>
                      , {{t.position}}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>